In [1]:
# Gabriela Aguilar
# Exploratory Data Analysis of Travel Review Ratings from UC Irvine Machine Learning Repository
# Google reviews on attractions from 24 categories across Europe are considered. Google user rating ranges from 1 to 5 and average user rating per category is calculated.

# **1. Acceso e Importación de Datos:**

*   Importación de las librerias necesarias.
*   Decodificación del repositorio de GitHub y acceso a la base de datos en formato CSV.

In [23]:
# Importando todas las librerias necesarias

import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
sns.set(style="whitegrid")
import plotly.express as px # For dynamic graphics
from getpass import getpass # For GitHub token request
import requests # Access to HTTP from GitHub repository
import base64
from io import StringIO
from sklearn.preprocessing import MinMaxScaler

In [3]:
# Accesso a repositorio de GitHub privado

token = getpass('Enter your GitHub Personal Access Token: ')

Enter your GitHub Personal Access Token: ··········

In [4]:
# Carga de los Datos

# Acceso a repo privado de GitHub y archivo de Datos raw via GitHub API
url = f"https://api.github.com/repos/gabrielaaguiv5/ProjectI/contents/data/raw/google_review_ratings.csv"

# Decodificación con GitHub API y token para acceso a repo privado
headers = {"Authorization": f"token {token}"}
res = requests.get(url, headers=headers)

# Decodificación de contenido en repo y carga en Database con Pandas
if res.status_code == 200:
    content = res.json()['content']
    decoded = base64.b64decode(content).decode('utf-8')
    datos = pd.read_csv(StringIO(decoded), delimiter=',')
    print(datos.head(10))
else:
    print(f"Failed to fetch file: {res.status_code} {res.reason}")

    userid  churches  resorts  beaches  parks  theatres  museums  malls  zoos  \
0   User 1       0.0      0.0     3.63   3.65       5.0     2.92   5.00  2.35
1   User 2       0.0      0.0     3.63   3.65       5.0     2.92   5.00  2.64
2   User 3       0.0      0.0     3.63   3.63       5.0     2.92   5.00  2.64
3   User 4       0.0      0.5     3.63   3.63       5.0     2.92   5.00  2.35
4   User 5       0.0      0.0     3.63   3.63       5.0     2.92   5.00  2.64
5   User 6       0.0      0.0     3.63   3.63       5.0     2.92   5.00  2.63
6   User 7       0.0      5.0     3.63   3.63       5.0     2.92   3.03  2.35
7   User 8       0.0      5.0     3.63   3.63       5.0     2.92   5.00  2.63
8   User 9       0.0      5.0     3.64   3.64       5.0     2.92   3.03  2.62
9  User 10       0.0      5.0     3.64   3.64       5.0     2.92   5.00  2.35

   restaurants  ...  art galleries dance clubs  swimming pools  gyms  \
0         2.33  ...           1.74        0.59             0.5   0.0
1         2.33  ...           1.74        0.59             0.5   0.0
2         2.33  ...           1.74        0.59             0.5   0.0
3         2.33  ...           1.74        0.59             0.5   0.0
4         2.33  ...           1.74        0.59             0.5   0.0
5         2.33  ...           1.74        0.59             0.5   0.0
6         2.33  ...           1.75        0.59             0.5   0.0
7         2.33  ...           1.74        0.60             0.5   0.0
8         2.32  ...           0.75        0.60             0.0   0.0
9         2.32  ...           0.74        0.59             0.0   0.0

   bakeries  beauty & spas  cafes  view points  monuments  gardens
0       0.5            0.0    0.0          0.0        0.0      0.0
1       0.5            0.0    0.0          0.0        0.0      0.0
2       0.5            0.0    0.0          0.0        0.0      0.0
3       0.5            0.0    0.0          0.0        0.0      0.0
4       0.5            0.0    0.0          0.0        0.0      0.0
5       0.5            0.0    0.0          0.0        0.0      0.0
6       0.5            0.0    0.0          0.0        0.0      0.0
7       0.5            0.0    0.0          0.0        0.0      0.0
8       0.5            0.0    0.0          0.0        0.0      0.0
9       0.0            0.0    0.0          0.0        0.0      0.0

[10 rows x 25 columns]

# **2. Análisis Descriptivo:**

*   Revisión del tipo de datos y cantidad de registros.
*   Identificación y tratamiento de valores faltantes o duplicados.
*   Estadísticas descriptivas (media, mediana, desviación estándar, percentiles, etc.).

In [5]:
# Revisión del tipo de datos y cantidad de registros.
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5456 entries, 0 to 5455
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   userid                 5456 non-null   object
 1   churches               5456 non-null   float64
 2   resorts                5456 non-null   float64
 3   beaches                5456 non-null   float64
 4   parks                  5456 non-null   float64
 5   theatres               5456 non-null   float64
 6   museums                5456 non-null   float64
 7   malls                  5456 non-null   float64
 8   zoos                   5456 non-null   float64
 9   restaurants            5456 non-null   float64
 10  pubs/bars              5456 non-null   float64
 11  local services         5456 non-null   object
 12  burger/pizza shops     5455 non-null   float64
 13  hotels/other lodgings  5456 non-null   float64
 14  juice bars             5456 non-null   float64
 15  art galleries          5456 non-null   float64
 16  dance clubs            5456 non-null   float64
 17  swimming pools         5456 non-null   float64
 18  gyms                   5456 non-null   float64
 19  bakeries               5456 non-null   float64
 20  beauty & spas          5456 non-null   float64
 21  cafes                  5456 non-null   float64
 22  view points            5456 non-null   float64
 23  monuments              5456 non-null   float64
 24  gardens                5455 non-null   float64
dtypes: float64(23), object(2)
memory usage: 1.0+ MB

In [6]:
# Identificación de valores faltantes

print(datos.isnull().sum()) # Valores faltantes en cada fila

print()

print("Valores faltantes en la totalidad de la Database:")

print(datos.isnull().any().any()) # Valores faltantes en la totalidad de la Database, revisa cada columna y genera resultado consolidado

userid                   0
churches                 0
resorts                  0
beaches                  0
parks                    0
theatres                 0
museums                  0
malls                    0
zoos                     0
restaurants              0
pubs/bars                0
local services           0
burger/pizza shops       1
hotels/other lodgings    0
juice bars               0
art galleries            0
dance clubs              0
swimming pools           0
gyms                     0
bakeries                 0
beauty & spas            0
cafes                    0
view points              0
monuments                0
gardens                  1
dtype: int64

Valores faltantes en la totalidad de la Database:
True

In [7]:
# Identificación de valores duplicados

print(datos.duplicated().sum()) # Filas duplicadas

print()

print("Filas duplicadas en la totalidad de la Database:")
print(datos[datos.duplicated()])

0

Filas duplicadas en la totalidad de la Database:
Empty DataFrame
Columns: [userid, churches, resorts, beaches, parks, theatres, museums, malls, zoos, restaurants, pubs/bars, local services, burger/pizza shops, hotels/other lodgings, juice bars, art galleries, dance clubs, swimming pools, gyms, bakeries, beauty & spas, cafes, view points, monuments, gardens]
Index: []

[0 rows x 25 columns]

In [8]:
# Corrección de Null y conversión a variables correspondientes según el contenido de cada columna

# Ajustar tipo de variables según el contenido de cada columna

category_columns = ['userid']
columnas_numericas = ['churches', 'resorts', 'beaches', 'parks', 'theatres', 'museums',
    'malls', 'zoos', 'restaurants', 'pubs/bars', 'local services', 'burger/pizza shops',
    'hotels/other lodgings', 'juice bars', 'art galleries', 'dance clubs', 'swimming pools',
    'gyms', 'bakeries', 'beauty & spas', 'cafes', 'view points', 'monuments', 'gardens']

# Conversión a tipo de datos correspondiente
datos[category_columns] = datos[category_columns].astype('category')
# Aplicando función para corregir datos según error code tras tratar de convertir a columnas_numericas

def limpiezaNull(x):
    try:
        # Reemplazando caractéres no numéricos (excepto por '.') por un espacio vacio
        return float(str(x).replace('\t', '').replace(' ',''))
    except ValueError:
        # En casos en que el retorno es Nan
        return np.nan

datos[columnas_numericas] = datos[columnas_numericas].apply(pd.to_numeric, errors='coerce').fillna(0)

In [9]:
# Revisión de datos corregidos
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5456 entries, 0 to 5455
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   userid                 5456 non-null   category
 1   churches               5456 non-null   float64
 2   resorts                5456 non-null   float64
 3   beaches                5456 non-null   float64
 4   parks                  5456 non-null   float64
 5   theatres               5456 non-null   float64
 6   museums                5456 non-null   float64
 7   malls                  5456 non-null   float64
 8   zoos                   5456 non-null   float64
 9   restaurants            5456 non-null   float64
 10  pubs/bars              5456 non-null   float64
 11  local services         5456 non-null   float64
 12  burger/pizza shops     5456 non-null   float64
 13  hotels/other lodgings  5456 non-null   float64
 14  juice bars             5456 non-null   float64
 15  art galleries          5456 non-null   float64
 16  dance clubs            5456 non-null   float64
 17  swimming pools         5456 non-null   float64
 18  gyms                   5456 non-null   float64
 19  bakeries               5456 non-null   float64
 20  beauty & spas          5456 non-null   float64
 21  cafes                  5456 non-null   float64
 22  view points            5456 non-null   float64
 23  monuments              5456 non-null   float64
 24  gardens                5456 non-null   float64
dtypes: category(1), float64(24)
memory usage: 1.2 MB

In [10]:
# Asignar nombres de categorías a columnas correspondientes

datos.rename(columns={
    'userid': 'Unique user id',
    'churches': 'Average ratings on churches',
    'resorts': 'Average ratings on resorts',
    'beaches': 'Average ratings on beaches',
    'parks': 'Average ratings on parks',
    'theatres': 'Average ratings on theatres',
    'museums': 'Average ratings on museums',
    'malls': 'Average ratings on malls',
    'zoos': 'Average ratings on zoo',
    'restaurants': 'Average ratings on restaurants',
    'pubs/bars': 'Average ratings on pubs/bars',
    'local services': 'Average ratings on local services',
    'burger/pizza shops': 'Average ratings on burger/pizza shops',
    'hotels/other lodgings': 'Average ratings on hotels/other lodgings',
    'juice bars': 'Average ratings on juice bars',
    'art galleries': 'Average ratings on art galleries',
    'dance clubs': 'Average ratings on dance clubs',
    'swimming pools': 'Average ratings on swimming pools',
    'gyms': 'Average ratings on gyms',
    'bakeries': 'Average ratings on bakeries',
    'beauty & spas': 'Average ratings on beauty & spas',
    'cafes': 'Average ratings on cafes',
    'view points': 'Average ratings on view points',
    'monuments': 'Average ratings on monuments',
    'gardens': 'Average ratings on gardens',
}, inplace=True)

In [11]:
# Revisión de datos actualizados
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5456 entries, 0 to 5455
Data columns (total 25 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Unique user id                            5456 non-null   category
 1   Average ratings on churches               5456 non-null   float64
 2   Average ratings on resorts                5456 non-null   float64
 3   Average ratings on beaches                5456 non-null   float64
 4   Average ratings on parks                  5456 non-null   float64
 5   Average ratings on theatres               5456 non-null   float64
 6   Average ratings on museums                5456 non-null   float64
 7   Average ratings on malls                  5456 non-null   float64
 8   Average ratings on zoo                    5456 non-null   float64
 9   Average ratings on restaurants            5456 non-null   float64
 10  Average ratings on pubs/bars              5456 non-null   float64
 11  Average ratings on local services         5456 non-null   float64
 12  Average ratings on burger/pizza shops     5456 non-null   float64
 13  Average ratings on hotels/other lodgings  5456 non-null   float64
 14  Average ratings on juice bars             5456 non-null   float64
 15  Average ratings on art galleries          5456 non-null   float64
 16  Average ratings on dance clubs            5456 non-null   float64
 17  Average ratings on swimming pools         5456 non-null   float64
 18  Average ratings on gyms                   5456 non-null   float64
 19  Average ratings on bakeries               5456 non-null   float64
 20  Average ratings on beauty & spas          5456 non-null   float64
 21  Average ratings on cafes                  5456 non-null   float64
 22  Average ratings on view points            5456 non-null   float64
 23  Average ratings on monuments              5456 non-null   float64
 24  Average ratings on gardens                5456 non-null   float64
dtypes: category(1), float64(24)
memory usage: 1.2 MB

In [21]:
# 3. Basic Info
# Estadísticas descriptivas (media, mediana, desviación estándar, percentiles, etc.).

columnas_numericas = ['Average ratings on churches', 'Average ratings on resorts', 'Average ratings on beaches', 'Average ratings on parks', 'Average ratings on theatres', 'Average ratings on museums',
    'Average ratings on malls', 'Average ratings on zoo', 'Average ratings on restaurants', 'Average ratings on pubs/bars', 'Average ratings on local services', 'Average ratings on burger/pizza shops',
    'Average ratings on hotels/other lodgings', 'Average ratings on juice bars', 'Average ratings on art galleries', 'Average ratings on dance clubs', 'Average ratings on swimming pools',
    'Average ratings on gyms', 'Average ratings on bakeries', 'Average ratings on beauty & spas', 'Average ratings on cafes', 'Average ratings on view points', 'Average ratings on monuments', 'Average ratings on gardens']

CNum = datos[columnas_numericas]

# Medidas de tendencia central

CNum.describe()

,Average ratings on churches,Average ratings on resorts,Average ratings on beaches,Average ratings on parks,Average ratings on theatres,Average ratings on museums,Average ratings on malls,Average ratings on zoo,Average ratings on restaurants,Average ratings on pubs/bars,...,Average ratings on art galleries,Average ratings on dance clubs,Average ratings on swimming pools,Average ratings on gyms,Average ratings on bakeries,Average ratings on beauty & spas,Average ratings on cafes,Average ratings on view points,Average ratings on monuments,Average ratings on gardens
count,5456.000000,5456.000000,5456.000000,5456.000000,5456.000000,5456.00000,5456.000000,5456.000000,5456.000000,5456.000000,...,5456.000000,5456.000000,5456.000000,5456.000000,5456.000000,5456.000000,5456.000000,5456.000000,5456.000000,5456.000000
mean,1.455720,2.319707,2.489331,2.796886,2.958941,2.89349,3.351395,2.540795,3.126019,2.832729,...,2.206573,1.192801,0.949203,0.822414,0.969811,1.000071,0.965838,1.750537,1.531453,1.560469
std,0.827604,1.421438,1.247815,1.309159,1.339056,1.28240,1.413492,1.111391,1.356802,1.307665,...,1.715961,1.107005,0.973536,0.947911,1.203972,1.193891,0.929853,1.598734,1.316889,1.171840
min,0.000000,0.000000,0.000000,0.830000,1.120000,1.11000,1.120000,0.860000,0.840000,0.810000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.920000,1.360000,1.540000,1.730000,1.770000,1.79000,1.930000,1.620000,1.800000,1.640000,...,0.860000,0.690000,0.580000,0.530000,0.520000,0.540000,0.570000,0.740000,0.790000,0.880000
50%,1.340000,1.905000,2.060000,2.460000,2.670000,2.68000,3.230000,2.170000,2.800000,2.680000,...,1.330000,0.800000,0.740000,0.690000,0.690000,0.690000,0.760000,1.030000,1.070000,1.290000
75%,1.810000,2.682500,2.740000,4.092500,4.312500,3.84000,5.000000,3.190000,5.000000,3.530000,...,4.440000,1.160000,0.910000,0.840000,0.860000,0.860000,1.000000,2.070000,1.560000,1.660000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [15]:
# Medidas de variabilidad

#Varianza
varianza = CNum.var()

#Desviación estandar
desvest = CNum.std()

#Coeficiente de variación
CV = (desvest/media)*100

#Rango
Rango = CNum.max() - CNum.min()

# Imprimir resultados
print("Varianza:")
print(varianza)
print("\nDesviación estándar:")
print(desvest)
print("\nCoeficiente de variación:")
print(CV)
print("\nRango:")
print(Rango)

# Imprimir datos en forma de tabla
from tabulate import tabulate

table_data = []
for col in CNum.columns:
    table_data.append([
        col,
        varianza[col],
        desvest[col],
        CV[col],
        Rango[col]
    ])

# Define headers

headers = ["Variable", "Varianza", "Desviación estándar", "Coeficiente de variación", "Rango"]

# Print table
print(tabulate(table_data, headers=headers, tablefmt="grid"))

Varianza:
Average ratings on churches                 0.684929
Average ratings on resorts                  2.020485
Average ratings on beaches                  1.557043
Average ratings on parks                    1.713896
Average ratings on theatres                 1.793072
Average ratings on museums                  1.644551
Average ratings on malls                    1.997961
Average ratings on zoo                      1.235190
Average ratings on restaurants              1.840912
Average ratings on pubs/bars                1.709987
Average ratings on local services           1.910128
Average ratings on burger/pizza shops       1.561027
Average ratings on hotels/other lodgings    1.978360
Average ratings on juice bars               2.485939
Average ratings on art galleries            2.944521
Average ratings on dance clubs              1.225459
Average ratings on swimming pools           0.947772
Average ratings on gyms                     0.898536
Average ratings on bakeries                 1.449547
Average ratings on beauty & spas            1.425376
Average ratings on cafes                    0.864627
Average ratings on view points              2.555951
Average ratings on monuments                1.734196
Average ratings on gardens                  1.373208
dtype: float64

Desviación estándar:
Average ratings on churches                 0.827604
Average ratings on resorts                  1.421438
Average ratings on beaches                  1.247815
Average ratings on parks                    1.309159
Average ratings on theatres                 1.339056
Average ratings on museums                  1.282400
Average ratings on malls                    1.413492
Average ratings on zoo                      1.111391
Average ratings on restaurants              1.356802
Average ratings on pubs/bars                1.307665
Average ratings on local services           1.382074
Average ratings on burger/pizza shops       1.249411
Average ratings on hotels/other lodgings    1.406542
Average ratings on juice bars               1.576686
Average ratings on art galleries            1.715961
Average ratings on dance clubs              1.107005
Average ratings on swimming pools           0.973536
Average ratings on gyms                     0.947911
Average ratings on bakeries                 1.203972
Average ratings on beauty & spas            1.193891
Average ratings on cafes                    0.929853
Average ratings on view points              1.598734
Average ratings on monuments                1.316889
Average ratings on gardens                  1.171840
dtype: float64

Coeficiente de variación:
Average ratings on churches                  56.851887
Average ratings on resorts                   61.276608
Average ratings on beaches                   50.126538
Average ratings on parks                     46.807720
Average ratings on theatres                  45.254591
Average ratings on museums                   44.320198
Average ratings on malls                     42.176241
Average ratings on zoo                       43.741848
Average ratings on restaurants               43.403510
Average ratings on pubs/bars                 46.162714
Average ratings on local services            54.207396
Average ratings on burger/pizza shops        60.126851
Average ratings on hotels/other lodgings     66.174287
Average ratings on juice bars                71.966495
Average ratings on art galleries             77.765883
Average ratings on dance clubs               92.807177
Average ratings on swimming pools           102.563553
Average ratings on gyms                     115.259627
Average ratings on bakeries                 124.144939
Average ratings on beauty & spas            119.380575
Average ratings on cafes                     96.274286
Average ratings on view points               91.328217
Average ratings on monuments                 85.989481
Average ratings on gardens                   75.095332
dtype: float64

Rango:
Average ratings on churches                 5.00
Average ratings on resorts                  5.00
Average ratings on beaches                  5.00
Average ratings on parks                    4.17
Average ratings on theatres                 3.88
Average ratings on museums                  3.89
Average ratings on malls                    3.88
Average ratings on zoo                      4.14
Average ratings on restaurants              4.16
Average ratings on pubs/bars                4.19
Average ratings on local services           5.00
Average ratings on burger/pizza shops       5.00
Average ratings on hotels/other lodgings    4.23
Average ratings on juice bars               4.24
Average ratings on art galleries            5.00
Average ratings on dance clubs              5.00
Average ratings on swimming pools           5.00
Average ratings on gyms                     5.00
Average ratings on bakeries                 5.00
Average ratings on beauty & spas            5.00
Average ratings on cafes                    5.00
Average ratings on view points              5.00
Average ratings on monuments                5.00
Average ratings on gardens                  5.00
dtype: float64
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Variable                                 |   Varianza |   Desviación estándar |   Coeficiente de variación |   Rango |
+==========================================+============+=======================+============================+=========+
| Average ratings on churches              |   0.684929 |              0.827604 |                    56.8519 |    5    |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on resorts               |   2.02048  |              1.42144  |                    61.2766 |    5    |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on beaches               |   1.55704  |              1.24782  |                    50.1265 |    5    |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on parks                 |   1.7139   |              1.30916  |                    46.8077 |    4.17 |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on theatres              |   1.79307  |              1.33906  |                    45.2546 |    3.88 |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on museums               |   1.64455  |              1.2824   |                    44.3202 |    3.89 |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on malls                 |   1.99796  |              1.41349  |                    42.1762 |    3.88 |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on zoo                   |   1.23519  |              1.11139  |                    43.7418 |    4.14 |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on restaurants           |   1.84091  |              1.3568   |                    43.4035 |    4.16 |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on pubs/bars             |   1.70999  |              1.30766  |                    46.1627 |    4.19 |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on local services        |   1.91013  |              1.38207  |                    54.2074 |    5    |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on burger/pizza shops    |   1.56103  |              1.24941  |                    60.1269 |    5    |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on hotels/other lodgings |   1.97836  |              1.40654  |                    66.1743 |    4.23 |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on juice bars            |   2.48594  |              1.57669  |                    71.9665 |    4.24 |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on art galleries         |   2.94452  |              1.71596  |                    77.7659 |    5    |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on dance clubs           |   1.22546  |              1.107    |                    92.8072 |    5    |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on swimming pools        |   0.947772 |              0.973536 |                   102.564  |    5    |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on gyms                  |   0.898536 |              0.947911 |                   115.26   |    5    |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on bakeries              |   1.44955  |              1.20397  |                   124.145  |    5    |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on beauty & spas         |   1.42538  |              1.19389  |                   119.381  |    5    |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on cafes                 |   0.864627 |              0.929853 |                    96.2743 |    5    |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on view points           |   2.55595  |              1.59873  |                    91.3282 |    5    |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on monuments             |   1.7342   |              1.31689  |                    85.9895 |    5    |
+------------------------------------------+------------+-----------------------+----------------------------+---------+
| Average ratings on gardens               |   1.37321  |              1.17184  |                    75.0953 |    5    |
+------------------------------------------+------------+-----------------------+----------------------------+---------+

In [16]:
# Medidas de forma

# Asimetría
asimetria = CNum.skew()
# Curtosis
curtosis = CNum.kurtosis()

# Imprimir resultados
print("Asimetría:")
print(asimetria)
print("\nCurtosis:")
print(curtosis)

# Imprimir datos en forma de tabla
from tabulate import tabulate

table_data = []
for col in CNum.columns:
    table_data.append([
        col,
        asimetria[col],
        curtosis[col]
    ])

# Define headers
headers = ["Variable", "Asimetría", "Curtosis"]

# Print table
print(tabulate(table_data, headers=headers, tablefmt="grid"))

Asimetría:
Average ratings on churches                 1.666583
Average ratings on resorts                  0.883645
Average ratings on beaches                  1.084852
Average ratings on parks                    0.706732
Average ratings on theatres                 0.487032
Average ratings on museums                  0.558141
Average ratings on malls                    0.017513
Average ratings on zoo                      0.772869
Average ratings on restaurants              0.273517
Average ratings on pubs/bars                0.523535
Average ratings on local services           0.815698
Average ratings on burger/pizza shops       1.387466
Average ratings on hotels/other lodgings    1.264193
Average ratings on juice bars               1.033586
Average ratings on art galleries            0.863785
Average ratings on dance clubs              2.694087
Average ratings on swimming pools           3.266494
Average ratings on gyms                     3.283489
Average ratings on bakeries                 2.510317
Average ratings on beauty & spas            2.465653
Average ratings on cafes                    2.815877
Average ratings on view points              1.207346
Average ratings on monuments                1.706382
Average ratings on gardens                  1.872721
dtype: float64

Curtosis:
Average ratings on churches                  4.762334
Average ratings on resorts                  -0.397317
Average ratings on beaches                  -0.115160
Average ratings on parks                    -0.979327
Average ratings on theatres                 -1.266033
Average ratings on museums                  -1.071586
Average ratings on malls                    -1.604569
Average ratings on zoo                      -0.357027
Average ratings on restaurants              -1.385183
Average ratings on pubs/bars                -0.933447
Average ratings on local services           -0.720585
Average ratings on burger/pizza shops        0.822575
Average ratings on hotels/other lodgings     0.116696
Average ratings on juice bars               -0.644972
Average ratings on art galleries            -1.049942
Average ratings on dance clubs               6.335416
Average ratings on swimming pools           10.825901
Average ratings on gyms                     11.707330
Average ratings on bakeries                  5.609904
Average ratings on beauty & spas             5.388080
Average ratings on cafes                     8.691689
Average ratings on view points              -0.085911
Average ratings on monuments                 1.879813
Average ratings on gardens                   3.027685
dtype: float64
+------------------------------------------+-------------+------------+
| Variable                                 |   Asimetría |   Curtosis |
+==========================================+=============+============+
| Average ratings on churches              |    1.66658  |  4.76233   |
+------------------------------------------+-------------+------------+
| Average ratings on resorts               |    0.883645 | -0.397317  |
+------------------------------------------+-------------+------------+
| Average ratings on beaches               |    1.08485  | -0.11516   |
+------------------------------------------+-------------+------------+
| Average ratings on parks                 |    0.706732 | -0.979327  |
+------------------------------------------+-------------+------------+
| Average ratings on theatres              |    0.487032 | -1.26603   |
+------------------------------------------+-------------+------------+
| Average ratings on museums               |    0.558141 | -1.07159   |
+------------------------------------------+-------------+------------+
| Average ratings on malls                 |    0.017513 | -1.60457   |
+------------------------------------------+-------------+------------+
| Average ratings on zoo                   |    0.772869 | -0.357027  |
+------------------------------------------+-------------+------------+
| Average ratings on restaurants           |    0.273517 | -1.38518   |
+------------------------------------------+-------------+------------+
| Average ratings on pubs/bars             |    0.523535 | -0.933447  |
+------------------------------------------+-------------+------------+
| Average ratings on local services        |    0.815698 | -0.720585  |
+------------------------------------------+-------------+------------+
| Average ratings on burger/pizza shops    |    1.38747  |  0.822575  |
+------------------------------------------+-------------+------------+
| Average ratings on hotels/other lodgings |    1.26419  |  0.116696  |
+------------------------------------------+-------------+------------+
| Average ratings on juice bars            |    1.03359  | -0.644972  |
+------------------------------------------+-------------+------------+
| Average ratings on art galleries         |    0.863785 | -1.04994   |
+------------------------------------------+-------------+------------+
| Average ratings on dance clubs           |    2.69409  |  6.33542   |
+------------------------------------------+-------------+------------+
| Average ratings on swimming pools        |    3.26649  | 10.8259    |
+------------------------------------------+-------------+------------+
| Average ratings on gyms                  |    3.28349  | 11.7073    |
+------------------------------------------+-------------+------------+
| Average ratings on bakeries              |    2.51032  |  5.6099    |
+------------------------------------------+-------------+------------+
| Average ratings on beauty & spas         |    2.46565  |  5.38808   |
+------------------------------------------+-------------+------------+
| Average ratings on cafes                 |    2.81588  |  8.69169   |
+------------------------------------------+-------------+------------+
| Average ratings on view points           |    1.20735  | -0.0859106 |
+------------------------------------------+-------------+------------+
| Average ratings on monuments             |    1.70638  |  1.87981   |
+------------------------------------------+-------------+------------+
| Average ratings on gardens               |    1.87272  |  3.02768   |
+------------------------------------------+-------------+------------+

In [17]:
# Medidas de posición

Q1 = CNum.quantile(0.25)
Q2 = CNum.quantile(0.50)
Q3 = CNum.quantile(0.75)

# Imprimir resultados

print("Q1:")
print(Q1)
print("\nQ2:")
print(Q2)
print("\nQ3:")
print(Q3)

# Imprimir datos en forma de tabla
from tabulate import tabulate

table_data = []
for col in CNum.columns:
    table_data.append([
        col,
        Q1[col],
        Q2[col],
        Q3[col]
    ])

# Define headers

headers = ["Variable", "Percentil 25", "Percentil 50", "Percentil 75"]

# Print table
print(tabulate(table_data, headers=headers, tablefmt="grid"))

Q1:
Average ratings on churches                 0.92
Average ratings on resorts                  1.36
Average ratings on beaches                  1.54
Average ratings on parks                    1.73
Average ratings on theatres                 1.77
Average ratings on museums                  1.79
Average ratings on malls                    1.93
Average ratings on zoo                      1.62
Average ratings on restaurants              1.80
Average ratings on pubs/bars                1.64
Average ratings on local services           1.58
Average ratings on burger/pizza shops       1.29
Average ratings on hotels/other lodgings    1.19
Average ratings on juice bars               1.03
Average ratings on art galleries            0.86
Average ratings on dance clubs              0.69
Average ratings on swimming pools           0.58
Average ratings on gyms                     0.53
Average ratings on bakeries                 0.52
Average ratings on beauty & spas            0.54
Average ratings on cafes                    0.57
Average ratings on view points              0.74
Average ratings on monuments                0.79
Average ratings on gardens                  0.88
Name: 0.25, dtype: float64

Q2:
Average ratings on churches                 1.340
Average ratings on resorts                  1.905
Average ratings on beaches                  2.060
Average ratings on parks                    2.460
Average ratings on theatres                 2.670
Average ratings on museums                  2.680
Average ratings on malls                    3.230
Average ratings on zoo                      2.170
Average ratings on restaurants              2.800
Average ratings on pubs/bars                2.680
Average ratings on local services           2.000
Average ratings on burger/pizza shops       1.690
Average ratings on hotels/other lodgings    1.610
Average ratings on juice bars               1.490
Average ratings on art galleries            1.330
Average ratings on dance clubs              0.800
Average ratings on swimming pools           0.740
Average ratings on gyms                     0.690
Average ratings on bakeries                 0.690
Average ratings on beauty & spas            0.690
Average ratings on cafes                    0.760
Average ratings on view points              1.030
Average ratings on monuments                1.070
Average ratings on gardens                  1.290
Name: 0.5, dtype: float64

Q3:
Average ratings on churches                 1.8100
Average ratings on resorts                  2.6825
Average ratings on beaches                  2.7400
Average ratings on parks                    4.0925
Average ratings on theatres                 4.3125
Average ratings on museums                  3.8400
Average ratings on malls                    5.0000
Average ratings on zoo                      3.1900
Average ratings on restaurants              5.0000
Average ratings on pubs/bars                3.5300
Average ratings on local services           3.2200
Average ratings on burger/pizza shops       2.2825
Average ratings on hotels/other lodgings    2.3600
Average ratings on juice bars               2.7400
Average ratings on art galleries            4.4400
Average ratings on dance clubs              1.1600
Average ratings on swimming pools           0.9100
Average ratings on gyms                     0.8400
Average ratings on bakeries                 0.8600
Average ratings on beauty & spas            0.8600
Average ratings on cafes                    1.0000
Average ratings on view points              2.0700
Average ratings on monuments                1.5600
Average ratings on gardens                  1.6600
Name: 0.75, dtype: float64
+------------------------------------------+----------------+----------------+----------------+
| Variable                                 |   Percentil 25 |   Percentil 50 |   Percentil 75 |
+==========================================+================+================+================+
| Average ratings on churches              |           0.92 |          1.34  |         1.81   |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on resorts               |           1.36 |          1.905 |         2.6825 |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on beaches               |           1.54 |          2.06  |         2.74   |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on parks                 |           1.73 |          2.46  |         4.0925 |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on theatres              |           1.77 |          2.67  |         4.3125 |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on museums               |           1.79 |          2.68  |         3.84   |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on malls                 |           1.93 |          3.23  |         5      |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on zoo                   |           1.62 |          2.17  |         3.19   |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on restaurants           |           1.8  |          2.8   |         5      |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on pubs/bars             |           1.64 |          2.68  |         3.53   |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on local services        |           1.58 |          2     |         3.22   |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on burger/pizza shops    |           1.29 |          1.69  |         2.2825 |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on hotels/other lodgings |           1.19 |          1.61  |         2.36   |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on juice bars            |           1.03 |          1.49  |         2.74   |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on art galleries         |           0.86 |          1.33  |         4.44   |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on dance clubs           |           0.69 |          0.8   |         1.16   |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on swimming pools        |           0.58 |          0.74  |         0.91   |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on gyms                  |           0.53 |          0.69  |         0.84   |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on bakeries              |           0.52 |          0.69  |         0.86   |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on beauty & spas         |           0.54 |          0.69  |         0.86   |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on cafes                 |           0.57 |          0.76  |         1      |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on view points           |           0.74 |          1.03  |         2.07   |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on monuments             |           0.79 |          1.07  |         1.56   |
+------------------------------------------+----------------+----------------+----------------+
| Average ratings on gardens               |           0.88 |          1.29  |         1.66   |
+------------------------------------------+----------------+----------------+----------------+

In [18]:
# Descripción consolidada de las variables numéricas
CNum.describe()

,Average ratings on churches,Average ratings on resorts,Average ratings on beaches,Average ratings on parks,Average ratings on theatres,Average ratings on museums,Average ratings on malls,Average ratings on zoo,Average ratings on restaurants,Average ratings on pubs/bars,...,Average ratings on art galleries,Average ratings on dance clubs,Average ratings on swimming pools,Average ratings on gyms,Average ratings on bakeries,Average ratings on beauty & spas,Average ratings on cafes,Average ratings on view points,Average ratings on monuments,Average ratings on gardens
count,5456.000000,5456.000000,5456.000000,5456.000000,5456.000000,5456.00000,5456.000000,5456.000000,5456.000000,5456.000000,...,5456.000000,5456.000000,5456.000000,5456.000000,5456.000000,5456.000000,5456.000000,5456.000000,5456.000000,5456.000000
mean,1.455720,2.319707,2.489331,2.796886,2.958941,2.89349,3.351395,2.540795,3.126019,2.832729,...,2.206573,1.192801,0.949203,0.822414,0.969811,1.000071,0.965838,1.750537,1.531453,1.560469
std,0.827604,1.421438,1.247815,1.309159,1.339056,1.28240,1.413492,1.111391,1.356802,1.307665,...,1.715961,1.107005,0.973536,0.947911,1.203972,1.193891,0.929853,1.598734,1.316889,1.171840
min,0.000000,0.000000,0.000000,0.830000,1.120000,1.11000,1.120000,0.860000,0.840000,0.810000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.920000,1.360000,1.540000,1.730000,1.770000,1.79000,1.930000,1.620000,1.800000,1.640000,...,0.860000,0.690000,0.580000,0.530000,0.520000,0.540000,0.570000,0.740000,0.790000,0.880000
50%,1.340000,1.905000,2.060000,2.460000,2.670000,2.68000,3.230000,2.170000,2.800000,2.680000,...,1.330000,0.800000,0.740000,0.690000,0.690000,0.690000,0.760000,1.030000,1.070000,1.290000
75%,1.810000,2.682500,2.740000,4.092500,4.312500,3.84000,5.000000,3.190000,5.000000,3.530000,...,4.440000,1.160000,0.910000,0.840000,0.860000,0.860000,1.000000,2.070000,1.560000,1.660000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [24]:
# Agregar ciudades al random

city_list = ['London', 'Paris', 'Rome', 'Berlin', 'Barcelona', 'Amsterdam', 'Vienna', 'Prague', 'Madrid', 'Lisbon']
datos['City'] = [random.choice(city_list) for _ in range(len(datos))]

In [26]:
# Normalizando datos

scaler = MinMaxScaler()
df_normalized = pd.DataFrame(scaler.fit_transform(datos[columnas_numericas]), columns=datos[columnas_numericas].columns)

# Contiene solo valores entre 0 y 1
print(df_normalized.head())

df_normalized.to_csv('normalized_data.csv', index=False)

   Average ratings on churches  Average ratings on resorts  \
0                          0.0                         0.0
1                          0.0                         0.0
2                          0.0                         0.0
3                          0.0                         0.1
4                          0.0                         0.0

   Average ratings on beaches  Average ratings on parks  \
0                       0.726                  0.676259
1                       0.726                  0.676259
2                       0.726                  0.671463
3                       0.726                  0.671463
4                       0.726                  0.671463

   Average ratings on theatres  Average ratings on museums  \
0                          1.0                    0.465296
1                          1.0                    0.465296
2                          1.0                    0.465296
3                          1.0                    0.465296
4                          1.0                    0.465296

   Average ratings on malls  Average ratings on zoo  \
0                       1.0                0.359903
1                       1.0                0.429952
2                       1.0                0.429952
3                       1.0                0.359903
4                       1.0                0.429952

   Average ratings on restaurants  Average ratings on pubs/bars  ...  \
0                        0.358173                      0.436754  ...
1                        0.358173                      0.439141  ...
2                        0.358173                      0.436754  ...
3                        0.358173                      0.436754  ...
4                        0.358173                      0.436754  ...

   Average ratings on art galleries  Average ratings on dance clubs  \
0                             0.348                           0.118
1                             0.348                           0.118
2                             0.348                           0.118
3                             0.348                           0.118
4                             0.348                           0.118

   Average ratings on swimming pools  Average ratings on gyms  \
0                                0.1                      0.0
1                                0.1                      0.0
2                                0.1                      0.0
3                                0.1                      0.0
4                                0.1                      0.0

   Average ratings on bakeries  Average ratings on beauty & spas  \
0                          0.1                               0.0
1                          0.1                               0.0
2                          0.1                               0.0
3                          0.1                               0.0
4                          0.1                               0.0

   Average ratings on cafes  Average ratings on view points  \
0                       0.0                             0.0
1                       0.0                             0.0
2                       0.0                             0.0
3                       0.0                             0.0
4                       0.0                             0.0

   Average ratings on monuments  Average ratings on gardens
0                           0.0                         0.0
1                           0.0                         0.0
2                           0.0                         0.0
3                           0.0                         0.0
4                           0.0                         0.0

[5 rows x 24 columns]